@font-face {
    font-family: "pixel";
    src: url(images/Jacquarda_Bastarda_9/JacquardaBastarda9-Regular.ttf);
}

.cat {
    padding-left: 100px;
    padding-right: 100px;
    background-image: url(images/night-city-scenery.jpg);
    background-size: cover;
}

.cat .hello {
    background-color: rgba(240, 192, 243, 0.369);
    border-bottom: 4px solid rgba(241, 175, 241, 0.859);
    border-radius: 15px;
}

.cat h1,
.cat h2 {
    font-family: "pixel";
    color: #d9acf6;
}

.cat label,
.cat p,
.cat button {
    color: #d9acf6;
}

.cat h1 {
    font-size: 70px;
    margin-bottom: 0%;
}

.cat h2 {
    font-size: 45px;
    margin-bottom: 0%;
}

.cat #contant-contaner {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
}

.cat aside {
    height: 250px;
    background-color: rgba(64, 8, 56, 0.671);
    border: 2px solid rgb(232, 182, 214);
    padding: 20px;
}

/*dosen't work for some reason*/
.cat .main {
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(64, 8, 56, 0.671);
    border: 2px solid rgb(232, 182, 214);
    padding-bottom: 30px;
}

.cat .flex_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(39, 9, 129, 0.726);
    width: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.cat .centring {
    padding-left: 33.3%;
    padding-right: 33.3%;
}

.cat .calculater {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: fit-content;
}

.cat .show {
    grid-column-start: 1;
    grid-column-end: 5;
}

.cat button {
    width: 70px;
    height: 50px;
    margin: 0.5px;
}

.cat button,
.cat input,
.cat .main,
.cat.flex_center,
.cat aside {
    border-radius: 20px;
}

.cat .style {
    height: 20px;
    border: 2px solid rgba(228, 157, 215, 0.845);
}

.cat .row1 {
    background-color: rgb(17, 10, 76);
}

.cat select {
    border: 2px solid rgba(7, 15, 73, 0.845);
}

.cat .row2 {
    background-color: rgb(78, 12, 75);
}

.cat .row3 {
    background-color: rgb(96, 21, 61);
}

.cat .row4 {
    background-color: rgb(95, 6, 6);
}

.cat .clear {
    background-color: rgb(183, 144, 207);
}

.cat .clear {
    grid-area: 4/-1/-1/-1;

}