@font-face {
    font-family: "zoink";
    src: url(images/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf);
}

.dog {
    padding-left: 100px;
    padding-right: 100px;
    background-image: url(images/star-guardian-quinn.jpg);
    background-size: cover;
}

.dog .hello {
    background-color: rgba(129, 230, 245, 0.369);
    border-bottom: 4px solid rgba(54, 162, 212, 0.859);
    border-radius: 15px;
}

.dog h1,
.dog h2 {
    font-family: "zoink";
    color: rgb(238, 83, 40);
}

.dog h1 {
    font-size: 70px;
    margin-bottom: 0%;
}

.dog h2 {
    font-size: 45px;
    margin-bottom: 0%;
}

.dog #contant-contaner {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
}

.dog aside {
    height: 250px;
    background-image: url(images/spots.jpg);
    border: 2px solid rgb(186, 67, 67);
    padding: 20px;
}

/*dosen't work for some reason*/
.dog .main {
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(images/spots.jpg);
    border: 2px solid rgb(186, 67, 67);
    padding-bottom: 30px;
}

.dog .flex_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(188, 217, 243, 0.726);
    width: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.dog .centring {
    padding-left: 33.3%;
    padding-right: 33.3%;
}

.dog .calculater {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: fit-content;
}

.dog .show {
    grid-column-start: 1;
    grid-column-end: 5;
}

.dog button {
    width: 70px;
    height: 50px;
    margin: 0.5px;
}

.dog button,
.dog input,
.dog .main,
.dog.flex_center,
.dog aside {
    border-radius: 20px;
}

.dog .style {
    height: 20px;
    border: 2px solid rgba(186, 67, 67, 0.845);
}

.dog .row1 {
    background-color: rgb(24, 112, 49);
}

.dog select {
    border: 2px solid rgba(186, 67, 67, 0.845);
}

.dog .row2 {
    background-color: rgb(180, 238, 133);
}

.dog .row3 {
    background-color: rgb(221, 196, 60);
}

.dog .row4 {
    background-color: rgb(240, 136, 32);
}

.dog .clear {
    background-color: rgb(232, 149, 15);
}

.dog .clear {
    grid-area: 4/-1/-1/-1;

}