@font-face {
    font-family: "pixel";
    src: url(images/Jacquarda_Bastarda_9/JacquardaBastarda9-Regular.ttf);
}

.cat {
    padding-left: 100px;
    padding-right: 100px;
    background-image: url(images/forest-fantasy-digital-art-uhdpaper.com.1043.jpg);
}

.cat h1,
.cat h2 {
    font-family: "pixel";
}

.cat h1 {
    font-size: 70px;
    margin-bottom: 0%;
}

.cat h2 {
    font-size: 45px;
    margin-bottom: 0%;
}

.cat #contant-contaner {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
}

.cat aside {
    height: 250px;
    background-color: rgba(97, 233, 188, 0.671);
    border: 2px solid rgb(186, 67, 67);
    padding: 20px;
}

/*dosen't work for some reason*/
.cat .main {
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(97, 233, 188, 0.671);
    border: 2px solid rgb(186, 67, 67);
    padding-bottom: 30px;
}

.cat .flex_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(188, 217, 243, 0.726);
    width: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.cat .centring {
    padding-left: 33.3%;
    padding-right: 33.3%;
}

.cat .calculater {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: fit-content;
}

.cat .show {
    grid-column-start: 1;
    grid-column-end: 5;
}

.cat button {
    width: 70px;
    height: 50px;
    margin: 0.5px;
}

.cat button,
.cat input,
.cat .main,
.cat.flex_center,
.cat aside {
    border-radius: 20px;
}

.cat .style {
    height: 20px;
    border: 2px solid rgba(186, 67, 67, 0.845);
}

.cat .row1 {
    background-color: rgb(238, 137, 133);
}

.cat select {
    border: 2px solid rgba(186, 67, 67, 0.845);
}

.cat .row2 {
    background-color: rgb(238, 189, 133);
}

.cat .row3 {
    background-color: rgb(217, 231, 86);
}

.cat .row4 {
    background-color: rgb(235, 241, 175);
}

.cat .clear {
    background-color: rgb(201, 94, 94);
}

.cat .clear {
    grid-area: 4/-1/-1/-1;

}