.gridstuff {
    gap: 20px;
}

.side-padding>p {
    width: fit-content;
}

.side-padding {
    padding-left: 60px;
}

.circle {
    border-radius: 50%;
}

.Author {
    padding-top: 15px;
    border-top: 2px solid rgb(104, 151, 118);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.authors picture {
    align-self: self-start;
}

#inlin {
    display: inline;
}

.width-reduction {
    width: fit-content;
}

article {
    border-radius: 15px;
    border: 2px solid rgb(104, 151, 118);
    background-color: rgba(240, 227, 202, 0.897);
    padding: 20px;
}

@media (max-width:680px) {
    .post .gridstuff {
        grid-template-columns: 1fr;
        padding-right: 0px;
        padding-top: 10px;
        padding-left: 0px;

    }

    h1 {
        font-size: 25px;
    }

    .side-padding {
        padding-left: 10px;
    }
}